<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Login</h2>
    <div class="spacer">
        <form method="post" action="/user/login">
            <label>Email:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
            <label>Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</section>