<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Register</h2>
    <div class="spacer">
        <form method="post" action="/user/register">
            <label>Email:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required value={{email}} >
            <label>Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">
            <label>Repeat password:</label>
            <input type="password" class="form-control" id="repeatedPassword" placeholder="Confirm Password" required name="repeatedPassword">
            <input type="submit" value="Register">
        </form>
    </div>
</section>


